:root{
  /*Color palette*/
  --dark-blue: #17395f; 
  --light-blue: #0095CF;
  --steel-white: #d3dcf4;
  --orange: #ff7e00; 
}

body{
  height: 100vh;
  width: 100vw;
}

*{
  margin: 0px;
  padding:0px;
}

.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/*Rocket Section*/
.rocket-section{
  background: url(./images/space.jpeg);
  position: static;
  overflow: hidden;
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  flex: 2;
}


@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translatey(-3840px); /* The image width */
  }
}

.selection-section{
  background-color: var(--orange);
  flex: 1;

  padding: 10px;

  display: flex;
  flex-direction: column;
}

.selection-folders{
  flex: 1;
  background-color: var(--steel-white);

  display: flex;
  justify-content: space-between;

}

.options-container{
  flex: 2;
  background-color: #d3dcf4;
}

.folder{
  flex: 1;
  background-color: bisque;
  border: 1px solid red;
  padding-top: 50px;
  padding-bottom: 50px;
}

.options{
  flex: 1;
  display: flex;
}

.option{
  background-color: aqua;
  margin: 10px;
  padding: 80px;
}

.head-options{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.body-options{
  display: none;
}

.wing-options{
  display: none;
}

.wing-options{
  display: none;
}

.tail-options{
  display: none;
}

.window-options{
  display: none;
}