:root {
  /*Color palette*/
  --dark-blue: #17395f;
  --light-blue: #0095CF;
  --steel-white: #d3dcf4;
  --orange: #ff7e00;
  --light-orange: #ffb166;
  
  /* bg scrolling */
  --bgUrl: url(./images/space.jpeg);
  --bgWidth: 750px;
  --bgHeight: 500px;
  --bgLoopEvery: 2.00s;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: black;
}

/*Rocket Section*/
.rocket-section {
  background: var(--bgUrl);
  position: static;
  overflow: hidden;
  /* background-repeat: repeat-y; */
  /* background-position: center center; */
  /* background-size: cover; */
  background-attachment: fixed;
  flex: 2;
  width: 100%;
  display: flex;
  flex-direction: column;

  min-height: 66vh;
}

.menu-button{
  width: 10rem;
  /*Trapezoid*/
  border-bottom: 3rem solid var(--orange);
	border-left: 2rem solid transparent;
	border-right: 2rem solid transparent;
	height: 0;
	width: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  align-self: center;
}

.menu-icon{
  padding-top: 3rem;
  width: 3rem;
  height: auto;
}

img.rocket{
  background: transparent;
  filter: invert(45%) sepia(100%) saturate(1329%) hue-rotate(2deg) brightness(103%) contrast(102%);

  z-index: 1;
}

img.rocket-window{
  z-index: 2;
}

.selection-section {
  background-color: var(--orange);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 10px;
  flex: .75;

  padding: 5px;

  display: flex;
  flex-direction: column;
}

.selection-folders {
  flex: 1;
  background-color: var(--orange);

  display: flex;
  justify-content: space-between;

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--orange);
}

.options-container {
  flex: 2;
  background-color: var(--light-orange);

}

.folder {
  flex: 1;
  background-color: bisque;
  border: 1px solid var(--light-orange);
  padding-top: 50px;
  padding-bottom: 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.active {
  background-color: var(--light-orange);
  border: 1px solid var(--light-orange);
}

.options {
  flex: 1;
  display: flex;

}

.option {
  background-color: aqua;
  margin: 10px;
  padding: 80px;
  border: 3px solid #a0c2ea;
  border-radius: 10px;
}

.head-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.head-options .option.one {
  background: url(./rocket_parts/head/head-draft-1.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.head-options .option.two {
  background: url(./rocket_parts/head/head-draft-2.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;

}

.head-options .option.three {
  background: url(./rocket_parts/head/head-draft-3.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;

}

.body-options {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;

}

.body-options .option.one {
  background: url(./rocket_parts/body/body-base-1.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;

}

.body-options .option.two {
  background: url(./rocket_parts/body/body-base-2.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;

}

.body-options .option.three {
  background: url(./rocket_parts/body/body-base-3.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;

}

.wing-options {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wing-options .option.one {
  background: url(./rocket_parts/wings/wing-base-1.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.wing-options .option.two {
  background: url(./rocket_parts/wings/wings-base-2.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;

}

.wing-options .option.three {
  background: url(./rocket_parts/wings/wings-base-3.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;

}

.tail-options {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tail-options .option.one {
  background: url(./rocket_parts/tail/tail-base-1.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.tail-options .option.two {
  background: url(./rocket_parts/tail/tail-base-2.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;

}

.tail-options .option.three {
  background: url(./rocket_parts/tail/tail-base-3.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;

}

.window-options {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}


.window-options .option.one{
  background: url(./rocket_parts/window/window-base-1.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.window-options .option.two{
  background: url(./rocket_parts/window/window-base-2.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.window-options .option.option.three{
  background: url(./rocket_parts/window/window-base-3.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}

/* Background animation */
@-webkit-keyframes bgScrollingUp {
  0% {
    background-position: 0px var(--bgHeight);
  }
}

@-moz-keyframes bgScrollingUp {
  0% {
    background-position: 0px var(--bgHeight);
  }
}

@-o-keyframes bgScrollingUp {
  0% {
    background-position: 0px var(--bgHeight);
  }
}

@keyframes bgScrollingUp {
  0% {
    background-position: 0px var(--bgHeight);
  }
}

@-webkit-keyframes bgScrollingDown {
  100% {
    background-position: 0px var(--bgHeight);
  }
}

@-moz-keyframes bgScrollingDown {
  100% {
    background-position: 0px var(--bgHeight);
  }
}

@-o-keyframes bgScrollingDown {
  100% {
    background-position: 0px var(--bgHeight);
  }
}

@keyframes bgScrollingDown {
  100% {
    background-position: 0px var(--bgHeight);
  }
}




.rocket-section {


  /* background animation
  it calls webkit in your browser to do the animation 
  call bgScrollingUp / Down for different directions*/
  -webkit-animation: bgScrollingDown var(--bgLoopEvery) infinite;
  /* Safari 4+ */
  -moz-animation: bgScrollingDown var(--bgLoopEvery) infinite;
  /* Fx 5+ */
  -o-animation: bgScrollingDown var(--bgLoopEvery) infinite;
  /* Opera 12+ */
  animation: bgScrollingDown var(--bgLoopEvery) infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;

}


.rocket-parts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  margin-top: 5rem;
}

.rocket-parts>img{

}



.rocket-head{
  position: relative;
  width: 10rem;
  height: 10rem;
}

.rocket-body{
  position: relative;
  width: 10rem;
  height: 15rem;
}
.rocket-tail{
  position: relative;
  width: 12rem;
  height: 15rem;
  bottom: 7rem
}
.rocket-window{
  position: relative;
  height: 5rem;
  width: 5rem;

  bottom: 12rem;
}

.rocket-wing.left{
  position: relative;
  width: 10rem;
  height: 10rem;

  margin-right: -1.5rem;
}

.rocket-wing.right{
  position: relative;
  width: 10rem;
  height: 10rem;

  margin-left: -1.5rem;

  transform: scaleX(-1);
}

.rocket-mid{
  display: flex;
  align-items: center;
  justify-content: center;
}