:root {
  /*Color palette*/
  --dark-blue: #17395f;
  --light-blue: #0095CF;
  --steel-white: #d3dcf4;
  --orange: #ff7e00;

  /* bg scrolling */
  --bgUrl: url(./images/space.jpeg);
  --bgWidth: 750px;
  --bgHeight: 500px;
  --bgLoopEvery: 5.00s;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

/*Rocket Section*/
.rocket-section {
  background: url(./images/space.jpeg);
  position: static;
  overflow: hidden;
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  flex: 2;
}

/* 
@keyframes slide {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translatey(-3840px);
  }
} */

.selection-section {
  background-color: var(--orange);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 10px;
  flex: .75;

  padding: 5px;

  display: flex;
  flex-direction: column;
}

.selection-folders {
  flex: 1;
  background-color: var(--orange);

  display: flex;
  justify-content: space-between;
}

.options-container {
  flex: 2;
  background-color: #d3dcf4;

}

.folder {
  flex: 1;
  background-color: bisque;
  border: 1px solid #ffb166;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.active {
  background-color: #ff9f42;
  border: 1px solid #ff9f42;
}

.options {
  flex: 1;
  display: flex;

}

.option {
  background-color: aqua;
  margin: 10px;
  padding: 80px;
  border: 2px solid #00b3f9;
  border-radius: 10px;
}

.head-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.body-options {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;

}

.wing-options {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wing-options {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wing-options .option.one{
  background: url(./rocket_parts/wings/wing-base-1.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.wing-options .option.two{
  background: url(./rocket_parts/wings/wings-base-2.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;

}

.wing-options .option.three{
  background: url(./rocket_parts/wings/wings-base-3.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;

}

.tail-options {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.window-options {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}


@-webkit-keyframes bgScrollingUp {
  0% {
    background-position: 0px var(--bgHeight);
  }
}

@-webkit-keyframes bgScrollingDown {
  100% {
    background-position: 0px var(--bgHeight);
  }
}

body {

  background: var(--bgUrl);
 
  -webkit-animation: bgScrollingDown var(--bgLoopEvery) infinite;
 
  -webkit-animation-timing-function: linear;

}